.header-row {
    background-color: #DE022B;
    /* Header background color */
    color: #FFFFFF;
    /* Text color */
    padding: 10px 20px;
    /* Padding around menu items */
    display: flex;
    justify-content: flex-end;
    /* Align menu items to the right */
    margin-left: 5%;
    margin-right: 4.15%;
}

.menu {
    display: flex;
    gap: 20px;
    /* Space between menu items */
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    /* Menu item text color */
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

.image-background {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
}


.overlay {
    position: relative;
    top: -200px;
    left: 0;
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;

}

.overlay-text {
    font-size: 250px;
    font-family: 'Raleway';
    color: #DE022B;
    padding-top: 0px;
    margin-top: 0px;

}

.spa-day {
    margin: 5%;
    margin-top: 0.5%;
    height: 800px;
    margin-bottom: 3%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

}

.featured {
    margin: 5%;
    margin-top: 10%;
    margin-bottom: 0%;
    background-color: #ff6962;
    margin-right: 4.1%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 2em;
    color: #fff;
}

.information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 3%;
    font-family: 'optima', Segoe, Segoe UI, Candara, Calibri;
    font-size: large;

}

.arrow {
    margin-left: 5%;
    margin-right: 4.1%;
    width: 91%
}


.rsvp-button {
    display: inline-block;
    padding: 12px 60px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #DE022B;
    border-radius: 5px;
    transition: background-color 0.3s ease;


}

.rsvp-button:hover {
    background-color: #ff6962;
}

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin-right: 19%;
}

.info-space {
    margin-top: 0px;
    margin-bottom: 0px;
}